<div class="spinner__container" *ngIf="spinner; else content">
  <mat-spinner color="accent"></mat-spinner>
</div>
<ng-template #content>
  <div class="source-list__container" *ngIf="mainFacts.length !== 0">
    <h4 class="list__title">Source List</h4>
    <mat-selection-list #facts [(ngModel)]="selectedFacts">
      <mat-list-option *ngFor="let fact of mainFacts" [value]="fact">
        {{fact}}
      </mat-list-option>
    </mat-selection-list>
    <app-button (onPressButton)="onMove()" [label]="buttonLabel"></app-button>
  </div>
</ng-template>
