
.application__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  padding: 16px;
  margin: 8px;
}

.lists__container {
  display: flex;
  padding: 16px;
}

.lists__container > div {
  width: 50%;
}
